// Variables

.h3-stats
  font-family: Seravek
  font-size: 18px
  font-weight: 700
  color: #E62E84

.h4-stats
  margin-top: 4px
  font-family: Seravek
  font-size: 18px
  font-weight: 100
  color: #333333

.parallax-stats
  background-position: 0 0
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.contact-settings
  font-size: 14px
  color: #ffffff
  font-family: Seravek

// End

.home.index

  .preloaded-images
    background-image: asset-url("landing/join_us_hover.png")
    display: hidden

  .module.parallax
    @extend .parallax-stats
    height: 1500px
    text-align: center
    background-image: asset-url("landing/banner.png")

    .context
      position: relative
      top: 15%

      h1
        font-family: Rockwell
        font-size: 58px
        font-weight: bold
        color: #ffffff
        padding: 1px
        margin: 0

      .join-button
        display: inline-block
        width: 227px
        height: 105px
        margin-top: 35px
        background-image: asset-url("landing/join_us_button.png")

        &:hover
          background-image: asset-url("landing/join_us_hover.png")

    #about-us
      position: relative
      top: 25%
      text-align: left
      background-color: white
      margin: 0 auto

      .center
        text-align: center

      .context
        margin-left: 75px
        margin-top: 16px

        .top-padding
          margin-top: 24px

        h3
          @extend .h3-stats

        h4 
          @extend .h4-stats

      .info-button
        opacity: 1
        margin-bottom: 32px

        &:hover
          opacity: 0.5
          transition: opacity 0.2s

    .about-us-description
      position: relative
      top: 32.5%
      margin: 0 auto

      #viralvial-description

        .textbox

          font-family: Seravek
          font-size: 18px
          font-weight: 700
          color: #ffffff
          margin-left: 75px
          margin-top: 1px

          .top-padding
            margin-top: 24px

          .text
            margin-top: 3px

  .about-us-continued
    margin: 0 auto

    .viraler-title
      margin-top: 40px

    .viraler-description
      margin-top: 30px

      .center
        text-align: center

    .vial-description
      margin-top: 30px

      .center
        text-align: center
    p
      &.title
        margin-top: 10px
        font-weight: bold

    h3
      @extend .h3-stats

    h4
      @extend .h4-stats

  #contact-us
    margin-top: 70px
    @extend .parallax-stats
    height: 700px
    background-image: asset-url("landing/contact_us.png")

    .margin-zero
      margin: 0

    .context

      .contact-form
        margin-top: 50px
        @extend .contact-settings

        form.settings
          margin-top: 40px

        input.settings
          height: 40px
          width: 500px

        textarea.settings
          height: 120px
          width: 500px

        .align-right
          text-align: right
          margin-right: 65px

        .button-settings
          color: #000000

      .details
        margin-top: 140px
        @extend .contact-settings

        .bold
          font-weight: bold

        .small-space
          margin-top: 25px
          
.contact-form
  margin-top: 50px
  @extend .contact-settings

  form.settings
    margin-top: 40px

  input.settings
    height: 40px
    width: 500px

  textarea.settings
    height: 120px
    width: 500px

  .align-right
    text-align: right
    margin-right: 65px

  .button-settings
    color: #000000

.details
  margin-top: 140px
  @extend .contact-settings