// Variables

.h3-stats
  font-family: Seravek
  font-size: 18px
  font-weight: 700
  color: #E62E84

.h4-stats
  margin-top: 4px
  font-family: Seravek
  font-size: 18px
  font-weight: 100
  color: #333333

.parallax-stats
  background-position: 0 0
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.contact-settings
  font-size: 16px
  color: #000000
  font-family: Seravek

// End

.home.index

  .ui.grid
    margin: 0

  .preloaded-images
    background-image: asset-url("landing/join_us_hover.png")
    display: hidden

  #hero-banner.module.parallax
    @extend .parallax-stats
    height: 100%
    text-align: center
    background-image: asset-url("landing/top_banner.png")

    .hero-context
      padding-top: 20%
      padding-bottom: 20%

      h1
        font-family: Rockwell
        font-size: 58px
        font-weight: bold
        color: #ffffff
        padding: 1px
        margin: 0

      .join-button
        display: inline-block
        width: 227px
        height: 105px
        margin-top: 35px
        background-image: asset-url("landing/join_us_button.png")

        &:hover
          background-image: asset-url("landing/join_us_hover.png")

    #about-us
      text-align: center
      background-color: white
      margin: 0 auto

      .center
        text-align: center

      .about-us-context
        margin: 2% 5% 1% 5%
        padding: 0

        .top-padding
          margin-top: 24px

        h3
          @extend .h3-stats

        h4 
          @extend .h4-stats

      .info-button
        opacity: 1
        margin-bottom: 32px
        margin: 0 5% 0 5%

        &:hover
          opacity: 0.5
          transition: opacity 0.2s

    .about-us-description
      margin: 5%
      text-align: center

      .padding-zero
        padding: 0

      #viralvial-description
        text-align: left
        min-height: 150px

        #vials-box
          display: none
          opacity: 1

        #viralers-box
          display: none
          opacity: 1

        .textbox

          font-family: Seravek
          font-size: 18px
          font-weight: 700
          color: #ffffff
          margin-top: 1px

          .top-padding
            margin-top: 24px

          .text
            margin-top: 3px

  .about-us-continued
    margin: 0 auto
    text-align: center

    .fixed
      height: 100%
      width: 100%

    .viraler-title
      margin-top: 40px

    .viraler-description
      margin-top: 30px

      .center
        text-align: center

    .vial-description
      margin-top: 30px

      .center
        text-align: center
    p
      &.title
        margin-top: 10px
        font-weight: bold

    h3
      @extend .h3-stats

    h4
      @extend .h4-stats

  #contact-us
    margin-top: 70px
    @extend .parallax-stats
    height: 800px
    background-image: asset-url("landing/bottom_banner.png")

    .space-bottom
      padding-bottom: 5%

    .margin-zero
      margin: 0
          
    .contact-form
      @extend .contact-settings
      margin-top: 3%

      form.settings
        margin-top: 40px

      input.settings
        height: 40px
        width: 100%

      textarea.settings
        height: 120px
        width: 100%

      .align-right
        text-align: right

      .button-settings
        color: #000000

    .bold
      font-weight: bold

    .small-space
      padding-top: 10px

    .contact-details
      @extend .contact-settings
      margin-top: 3%
      height: 150px

@media all and (max-width: 767px)

  .home.index 

    .about-us-continued  .fixed
      height: 150px
      width: 150px

    #hero-banner.module.parallax .hero-context
      padding-top: 30%
      padding-bottom: 5%
