
  h1 New user

  = render partial: '/partials/users/registration_form', locals: { title: "Sign up" }
  p= link_to "Login with Facebook", auth_at_provider_path(provider: :facebook)

  p= link_to 'Back', :back
