#campaigns-show
  margin-top: 40px
  padding-bottom: 100px

  .mobile
    display: none

  .center
    text-align: center

  .left
    text-align: left

  // Campaign Stats Partial
  .campaign-stats-box
    background-color: #FAFAFA
    border: 1px solid #EFEFEF

    .container
      margin-bottom: 50px

    p
      &.font-18
        font-size: 18px

      &.font-20
        font-size: 20px

      &.title
        padding-top: 50px
        margin-bottom: 0

      &.pink
        color: #E62E84

    i
      &.font-40
        font-size: 40px

      &.facebook
        color: #3B5998

      &.twitter
      color: #00ACED

  // Campaign Details Partial
  .campaign-details

    p
      &.title
        font-size: 26px
        font-weight: bold
        margin-bottom: 0

      &.organizer
        color: #E62E84

      &.campaign-start
        opacity: 0.4

  // Topic Share Partial
  .campaign-share-box
    background-color: #FAFAFA
    border: 1px solid #EFEFEF
    margin-top: 20px

    p
      &.font-18
        font-size: 18px

      &.title
        margin: 0
        padding-top: 20px

    .margin-bottom-20
      margin-bottom: 20px

    .share
      background-color: #E62E84
      color: white

      &:hover
        opacity: 0.7

  // Shared Posts

  .shared-posts

    p
      margin-bottom: 5px

      &.red
        color: red

      &.title
        font-size: 20px

      &.message
        font-size: 18px

      &.right
        text-align: right

    i
      margin-bottom: 10px

      &.font-30
        font-size: 30px

      &.facebook
        color: #3B5998

      &.twitter
        color: #00ACED

      &.remove
        color: black

  // Post Form

  #new-post-form
    margin-top: 0

    .back-campaign-container
      margin-bottom: 40px

    .no-padding-top
      padding-top: 0

    .ui.button
      font-size: 16px

    .custom-image-upload-form
      margin-top: 50px

    .form-part-two
      @extend .custom-image-upload-form

    .share-buttons
      @extend .custom-image-upload-form

    p
      &.title
        font-size: 24px
        color: #E62E84

      &.subtitle
        font-size: 18px



@media all and (max-width: 767px)

  #campaigns-show 

    .mobile
      display: block

    .desktop
      display: none !important

    .campaign-details
      text-align: center

  #new-post-form

    #form-container
      text-align: center
      float: none !important

  #mobile-center
    text-align: center