#campaigns-list
  margin-bottom: 15%
  margin-top: 5%

  .campaign-card
    border: 2px solid transparent
    transition: 0.2s border
    color: black

    &:hover
      border: 2px solid #E62E84

  .content-panel
    padding: 14px
    height: 350px

  .campaign-title
    font-size: 16px
    font-weight: bold
    word-wrap: break-word

  .campaign-description
    margin-top: 10px
    font-weight: 100
    font-size: 14px
    opacity: 0.8
    word-wrap: break-word

  .spacing-top
    margin-top: 20px !important

  .zero-padding
    padding: 0 !important

  .rewards
    font-size: 11px
    position: absolute
    bottom: 0
    left: 0

  .timer
    font-size: 11px
    color: #E62E84
    text-align: right
    position: absolute
    bottom: 0
    left: 85%

  .bold
    font-weight: bold

  .margin-5
    margin: 5px