h1 Show

p= "Post ID: #{@post.id}"
p= "Campaign ID: #{@post.campaign_id}"
p= "User ID: #{@post.user_id}"
p= "Facebook Post ID: #{@post.facebook_post_id}"
p= "Facebook Post Message: #{@post.message}"
p= "Facebook Likes: #{@fb_likes}"
p= "Facebook Comments: #{@fb_comments}"