= render partial: 'users/show', locals: { user: @user }


// Profile Image Uploade Modal
= render partial: "shared/partials/image/form", locals: { user: @user, title: "Edit your new profile image!" }

// Render Interest Select Modal
- if @user.interest_not_selected?
  = render partial: "/shared/partials/users/edit_interest_form", locals: { user: @user, options: @options, title: "Pick an interest!", description: "Tell us what you love so that we are able to give you only the best!" }
