p.title= @campaign.title
p.organizer= "by #{@campaign.organizer}"
p.description= @campaign.description
p.campaign-end= "Expires on the #{@campaign.end_date}"
p.campaign-start= "Posted on the #{@campaign.start_date}"