.spacing 
  margin-top: 1.563em

.doublespacing
  margin-top: 3.125em

.hidden
  display: none

@font-face
  font-family: 'Seravek'
  src: asset-url("Seravek.ttc")
  src: asset-url("Seravek.eot")
  src: asset-url("Seravek.eot?#iefix") format("embedded-opentype"), asset-url("Seravek.woff") format("woff"), asset-url("Seravek.ttf") format("truetype"), asset-url("Seravek.svg#action_manregular") format("svg")
  font-weight: normal
  font-style: normal

html
  font-family: 'Seravek' !important
  color: #333333
  font-size: 14px !important

a
  color: #E62E84
  text-decoration: none

