.users.show
  
  h1
    margin: 0
    font-family: Seravek
    font-size: 24px
    font-weight: bold

  h2
    margin: 0
    font-family: Seravek
    font-size: 17px
    color: #E62E84

  h3
    margin: 0
    font-family: Seravek
    font-size: 18px

  .profile
    padding-top: 150px

    .profile-title
      font-family: Rockwell
      font-size: 24px
    
    .ui.grid
      margin: 0

    .profile-image
      text-align: center

    .profile-details
      margin-top: 25px

      .spacing-top
        margin-top: 25px

      .spacing-top-small
        margin-top: 10px

      .spacing-top-smaller
        margin-top: 5px

      .spacing-left
        margin-left: 85px

    .profile-interest

      .spacing-top
        margin-top: 55px

      .spacing-top-small
        margin-top: 10px

    .account-links

      .small-spacing-left
        margin-left: 3px

      .blurred
        opacity: 0.4

      .grayed
        color: gray

      .spacing-top
        margin-top: 55px

      .spacing-top-small
        margin-top: 15px

    .campaigns-title
      margin-top: 100px

      .title
        font-family: Rockwell
        font-size: 24px

  .participating-campaigns
    padding-bottom: 200px

    .center
      text-align: center
      
    .description
      color: #000000

    & .title
      font-size: 60px
      font-family: Seravek
      font-weight: bold
      padding-bottom: 40px
      color: #E62E84

    .limit-max-height
      max-height: 377px
      margin-top: 30px

    .campaign-panel
      border-radius: 5px
      border: 1px solid #E62E84
      height: 377px

      &:hover
        opacity: 0.5
        transition: opacity 0.2s

    .border-radius
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      height: 236px
      width: 100%

    .body-section
      padding: 0px 10px 16px 10px

    .border-radius
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      height: 236px
      width: 100%
    
    .countdown-container
      margin-top: 37px

    .countdown
      color: #ffffff
      background-color: #E62E84
      padding-left: 7px
      padding-right: 7px

