footer
  position: absolute
  bottom: 0
  left: 0

  &.style
    width: 100%
    background: black
    margin: 0

  #mobile
    display: none

  .ui.grid
    margin: 0
  
  .slight-left
    padding-left: 15px

  i.facebook
    font-size: 16px

    &:hover
      color: #3b5998 !important

  i.twitter.white
    font-size: 16px

    &:hover
      color: #00aced !important

  .connect
    font-size: 14px

    &:hover
      color: #E62E84 !important

  .left-padding
    padding-left: 10% !important

  .right-padding
    padding-right: 10% !important

  .right
    text-align: right

  .copyright
    color: white !important
    padding-top: 2px

  .white
    color: white !important

  .black
    color: black !important

  .center
    text-align: center

@media all and (max-width: 767px)
  
  footer
    
    #desktop
      display: none

    #mobile
      display: block