// Semantic UI Override

.ui.grid
  margin: 0

// End

header
  position: fixed
  z-index: 1
  opacity: 0.9

  &.style
    width: 100%
    background: #333333

  &.wrap
    margin: 0 auto
    padding: 0.25em 0.625em
    height: 6em

  .content

    .icon
      margin-top: 0.4em
      margin-left: 5em

  h3
    line-height: 3.125em
    margin-right: 4.5em
    font-family: Seravek
    font-size: 1.3em
    font-weight: 500

    a
      color: #F6C403
      text-decoration: none
      text-align: center

      &:hover
        opacity: 0.5
        transition: opacity 0.2s